<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <sessionState timeout="10"></sessionState>
    </system.web>
  <appSettings>
    <add key="connection_string" value="Data Source=dbtccinstance.cmdackog8otk.sa-east-1.rds.amazonaws.com;Initial Catalog=DbRestaurante;Password=sofisa1612;User ID=admin" />
    <add key="chave_criptografia" value="V4$h" />
  </appSettings>
</configuration>
